@mixin baseWapper {
  width: 100%;
}

@mixin containerWapper {
  width: 1140px;
  margin: auto;
}

.loginHeaderWapper {
  @include baseWapper;
  .loginHead {
    @include containerWapper();
    height: 155px;
  }
  .loginHeadTop {
    display: flex;
    height: 62px;
    .backButton {
      background-color: transparent;
      border-color: transparent;
      padding: 40px 0 0;
      img {
        width: 34px;
        height: 22px;
      }
    }
  }
  .loginHeadBottom {
    @include baseWapper();
    height: 73px;
    padding-bottom: 20px;
    .title {
      height: 56px;
      padding: 37px 0 0;
      margin: 0px;
    }
  }
}

.loginBodyWapper {
  @include baseWapper;
  .loginWapper {
    @include containerWapper();
    .header {
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 72px;
        strong {
          height: 36px;
          font-size: 36px;
          font-weight: 700;
        }
        span {
          height: 36px;
          font-size: 18px;
          margin-top: 18px;
          color: #666;
          font-weight: lighter;
        }
      }
    }
  }
  .loginBody {
    margin: 60px auto 0 auto;
    .loginColumn {
      width: 436px;
      justify-content: space-between;
      align-items: center;
    }
    .formTitle {
      display: flex;
      justify-content: center;
      font-size: 24px;
      margin: 0 0 60px;
    }
    .loginInput {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 15px;

      .container {
        border: 1px solid #666;
        height: 59px;
        input {
          padding: 20px 24px;
          width: 388px;
          height: 19px;
          border-style: none;
        }
        input:focus {
          outline: none;
        }
      }
    }
    .utilContainer {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
    }

    .saveId {
      span {
        font-size: 18px;
        color: #666;
      }
    }

    .findId {
      border-bottom: solid 2px black;
      span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .loginButton {
      height: 62px;
      margin-top: 40px;
      button {
        background-color: black;
        color: white;
        width: 100%;
        height: 62px;
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        border-style: none;
      }
    }

    .signUpButton {
      margin-top: 20px;
      span {
        font-size: 16px;
        font-weight: bold;
        border-bottom: solid 2px black;
      }
    }
  }
}
