@mixin fullPage {
  width: 100%;
  height: 800px;
}

.container {
  @include fullPage();
  margin: 0 auto;
}

.albums {
  @include fullPage();
  overflow: hidden;
}

.images {
  width: 400%;
  height: 800px;
  display: flex;
  position: relative;
  img {
    @include fullPage();
  }
}

.nextButton {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  button {
    width: 70px;
    height: 70px;
    background-color: #111;
    position: relative;
    top: -470px;
    img {
      width: 100%;
    }
  }

  .details {
    width: 100px;
    height: 40px;
    background-color: rgb(255, 229, 18);
  }
}
