@mixin baseWrapper {
  width: 100%;
}

@mixin containerWrapper {
  width: 1140px;
  margin: auto;
}

.loginHeaderWrapper {
  @include baseWrapper;

  .loginHead {
    @include containerWrapper;
    height: 155px;
  }

  .loginHeadTop {
    display: flex;
    height: 62px;

    .backButton {
      background-color: transparent;
      border-color: transparent;
      padding: 40px 0 0;

      img {
        width: 34px;
        height: 22px;
      }
    }
  }

  .loginHeadBottom {
    @include baseWrapper;
    height: 73px;
    padding-bottom: 20px;

    .title {
      font-size: 36px;
      font-weight: 700;
      height: 56px;
      padding: 37px 0 0;
      margin: 0px;
    }
  }
}

.cartBaseContainer {
  @include baseWrapper;
  padding-bottom: 144px;
}

.cartContainer {
  @include containerWrapper;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .emptyCartImage {
      img {
        margin-top: 100px;
        width: 150px;
        position: relative;
        left: -10px;
        opacity: 0.3;
      }
    }

    .emptyCartComment {
      width: 200px;
      display: flex;
      justify-content: center;

      span {
        font-size: 18px;
        margin-top: 24px;
      }
    }

    button {
      margin: 39px 0 100px;
      background-color: white;
      border: 1px solid black;
      width: 225px;
      height: 62px;

      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.cart {
  @include baseWrapper;
  padding: 0 0 144px;

  .container {
    @include containerWrapper;
    height: 101px;
    padding: 0px;
  }

  .containerRow {
    width: 100%;
    padding-top: 55px;
  }

  .controlCheckbox {
    width: 680px;
    height: 37px;
    padding-left: 33px;
    display: flex;
    justify-content: space-between;
  }

  .checkbox {
    display: flex;
    align-items: center;
    width: 97px;
    height: 100%;

    span {
      font-size: 18px;
      font-weight: 500;
      color: #666666;
      padding-left: 10px;
    }
  }

  .deleteButton {
    width: 157px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #666666;
      background-color: transparent;

      img {
        width: 19px;
        height: 19px;
        opacity: 0.7;
      }

      span {
        color: #666666;
        font-weight: 500;
        padding: 0 0 0 6px;
      }
    }
  }

  .cartBox {
    @include containerWrapper;
    display: flex;
    justify-content: space-between;
  }

  .cartBoxContainer {
    width: 680px;
  }

  .orderProductList {
    width: 100%;
  }

  .itemList {
    width: 100%;
    height: 260px;
    border: 1px solid #dddddd;
    background-color: #fafafa;
    margin-top: 10px;

    .productContainer {
      width: 100%;
      height: 192px;
      border-bottom: 1px solid #dddddd;
      padding: 16px 22px 16px 60px;
      display: flex;

      .productBox {
        width: 100%;
        display: flex;

        img {
          width: 128px;
          height: 160px;
        }
      }

      .deleteButton {
        margin-top: 10px;
        width: 20px;
        height: 20px;
        button {
          width: 100%;
          height: 100%;
          border-style: none;
          img {
            width: 100%;
            height: 100%;
            opacity: 0.5;
          }
        }
      }

      .productInfo {
        display: flex;
        flex-direction: column;
        margin: 16px 0px 0px 23px;
        width: 418px;
        height: 53px;

        h2 {
          font-size: 27px;
          font-weight: 700;
        }

        ul {
          display: flex;
          width: 100%;
          height: 20px;
          margin: 5px 0px 0px;

          li {
            margin-right: 10px;
            color: #666666;
            font-weight: 600;

            .point {
              margin-right: 0px;
            }
          }
        }
      }

      .productPrice {
        width: 100%;
        margin: 40px 0px 30px 23px;

        .mark {
          font-size: 25px;
          font-weight: 700;
        }

        .price {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }

    .productFooter {
      width: 100%;
      height: 66px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 33px;

      .wishButton {
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          margin-left: 5px;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .wishListButton {
        width: 140px;
        height: 37px;

        button {
          width: 100%;
          height: 100%;
          font-size: 16px;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid black;
        }
      }
    }
  }

  .orderBoxContainer {
    width: 436px;
    margin-top: 10px;

    .orderBox {
      width: 100%;
      height: 262px;
      border: 1px solid #dddddd;
    }

    .orderTitle {
      width: 100%;
      height: 71px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dddddd;
      background-color: #fafafa;

      span {
        font-size: 24px;
        font-weight: 900;
      }
    }

    .orderPriceBox {
      width: 368px;
      height: 128px;
      margin: 30px 33px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .orderPriceList {
        display: flex;
        justify-content: space-between;
      }

      .orderPriceTitle {
        width: 130px;
        font-size: 18px;
        color: #666666;
        display: flex;
        margin: 0;

        .total {
          color: black;
          font-weight: 700;
        }
      }

      .orderPrice {
        display: flex;
        justify-content: flex-end;
        width: 222px;
        font-size: 24px;
      }
    }

    .buyButton {
      margin-top: 24px;
      width: 100%;

      button {
        width: 100%;
        height: 62px;
        background-color: black;
        color: white;
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
