@mixin baseWrapper {
  width: 100%;
}

@mixin containerWrapper {
  width: 1140px;
  margin: auto;
}

.loginHeaderWrapper {
  @include baseWrapper;

  .loginHead {
    @include containerWrapper;
    height: 155px;
  }

  .loginHeadTop {
    display: flex;
    height: 62px;

    .backButton {
      background-color: transparent;
      border-color: transparent;
      padding: 40px 0 0;

      img {
        width: 34px;
        height: 22px;
      }
    }
  }

  .loginHeadBottom {
    @include baseWrapper;
    height: 73px;
    padding-bottom: 20px;

    .title {
      font-size: $fontTitle;
      font-weight: $fontBold;
      height: 56px;
      padding: 37px 0 0;
      margin: 0px;
    }
  }
}

.cartBaseContainer {
  @include baseWrapper;
  padding-bottom: 144px;
}

.cartContainer {
  @include containerWrapper;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .emptyCartImage {
      img {
        margin-top: 100px;
        width: 150px;
        position: relative;
        left: -10px;
        opacity: 0.3;
      }
    }

    .emptyCartComment {
      width: 200px;
      display: flex;
      justify-content: center;

      span {
        font-size: 18px;
        margin-top: 24px;
      }
    }

    button {
      margin: 39px 0 100px;
      background-color: white;
      border: 1px solid black;
      width: 225px;
      height: 62px;

      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
