@mixin baseWrapper {
  width: 100%;
}

@mixin containerWrapper {
  width: 1140px;
  margin: auto;
}

.loginHeaderWrapper {
  @include baseWrapper;

  .loginHead {
    @include containerWrapper;
    height: 155px;
  }

  .loginHeadTop {
    display: flex;
    height: 62px;

    .backButton {
      background-color: transparent;
      border-color: transparent;
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .loginHeadBottom {
    @include baseWrapper;
    height: 73px;
    padding-bottom: 20px;

    .title {
      font-size: 32px;
      font-weight: 700;
      height: 56px;
      padding: 37px 0 0;
      margin: 0px;
    }
  }
}

.loginBodyWrapper {
  @include baseWrapper;

  .loginWrapper {
    @include containerWrapper;
    margin-bottom: 144px;

    .header {
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 72px;

        strong {
          height: 36px;
          font-size: 36px;
          font-weight: 700;
        }

        span {
          height: 36px;
          font-size: 18px;
          margin-top: 18px;
          color: #666;
        }
      }
    }
  }

  .loginBody {
    margin: 60px auto 0 auto;

    .loginColumn {
      width: 436px;
      justify-content: space-between;
      align-items: center;
    }

    .formTitle {
      display: flex;
      justify-content: center;
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 60px;
    }

    .loginInput {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 15px;
    }

    .container {
      border: 1px solid #666;
      height: 60px;

      input {
        padding: 18px 24px;
        width: 434px;
        font-size: 15px;
        border-style: none;

        &:focus {
          outline: none;
        }
      }
    }

    .redBorder {
      border: 1px solid red;
      height: 60px;

      input {
        padding: 18px 24px;
        width: 434px;
        font-size: 15px;
        border-style: none;
        &::placeholder {
          color: red;
          font-weight: 400;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .utilContainer {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
    }

    .saveId {
      font-size: 18px;
      color: #666;
    }

    .findId {
      border-bottom: solid 2px black;

      span {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .loginButton {
      height: 62px;
      margin-top: 40px;

      button {
        background-color: black;
        color: white;
        width: 100%;
        height: 62px;
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        border-style: none;
      }
    }

    .signUpButton {
      margin-top: 20px;
      display: flex;
      justify-content: end;

      button {
        background-color: transparent;
        border-color: transparent;
      }

      span {
        font-size: 16px;
        font-weight: bold;
        border-bottom: solid 2px black;
      }
    }
  }
}
