@import '/src/styles/variables.scss';

.Mypage {
  @include elementPosition(flex, row, center);
  padding: 90px 0 140px 0;

  .imgUploadWrap {
    width: 483px;
    margin-right: 84px;
    position: relative;

    .defaultImg {
      width: 483px;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 10px 18px 0 rgb(0 0 0 / 15%);
    }

    .imgUploadBtn {
      width: 84px;
      height: 84px;
      border-radius: 50%;
      box-shadow: 0 0.333rem 0.6rem 0 rgb(0 0 0 / 15%);
      cursor: pointer;
      position: absolute;
      right: 44px;
      bottom: -42px;

      .uploadBtnImg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .infoWrap {
    width: 413px;
    padding: 40px 0 20px 0;

    .infoGreetingsWrap {
      padding-bottom: 28px;
      line-height: 29px;
      font-size: $fontLarge;
      color: $fontGray;
      position: relative;

      .gearBtn {
        width: 33px;
        height: 33px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;

        .gearBtnImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .userName {
        font-weight: $fontBold;
        color: $fontBlack;
        margin-right: 10px;
      }

      .greetings {
        padding-top: 80px;
        padding-bottom: 28px;
        line-height: 29px;
        font-size: $fontLarge;
        color: $fontGray;
        letter-spacing: -0.5px;
      }
    }

    .userRankWrap {
      line-height: 21px;
      font-size: $fontLarge;
      color: $fontBlack;
      font-weight: $fontBold;
      padding-bottom: 162px;
      letter-spacing: -1px;
      border-bottom: 8px solid #ddd;
    }

    .userPoingWrap {
      @include elementPosition(flex, row, space-between);
      align-items: center;
      margin-top: 50px;

      .userPoingHistoryWrap {
        @include elementPosition(flex, column, center);
        text-align: center;
        align-items: center;
        width: 33%;

        .pointIcon {
          width: 37px;
          height: 37px;
        }

        .pointIconName {
          color: $fontGray;
          font-size: $fontMedium;
          line-height: 20px;
          padding-bottom: 26px;
          display: block;
          text-align: center;
          padding-top: 10px;
        }

        .holdingPoints {
          color: $fontBlack;
          font-size: $fontTitle;
          font-weight: $fontBold;
          line-height: 37px;
          border-bottom: 2px solid #111;
          display: inline-block;
        }
      }
    }

    .userLogout {
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;

      .logout {
        font-size: $fontSmall;
        background-color: transparent;
        color: $fontGray;
      }
    }
  }
}
