@import '/src/styles/variables.scss';

.Header {
  @include elementPosition(flex, column, center);
  align-items: center;

  .topMenuListWrap {
    @include elementPosition(flex, row, center);
    width: 100%;
    background: #fafafa;

    .topMenuList {
      @include elementPosition(flex, row, flex-end);
      align-items: center;
      height: 40px;
      width: 1140px;
      .login {
        padding-top: 3px;
        font-size: 12px;
        cursor: pointer;
      }

      .topMenuWrap {
        margin-left: 20px;

        .topMenu {
          font-size: 12px;
        }
      }

      .topMenuWrap:first-child {
        margin-left: 0;
      }
    }
  }
}

.headerWrap {
  @include elementPosition(flex, row, space-between);
  width: 1140px;
  height: 85px;
  position: relative;
  align-items: center;

  .navigationBtn {
    width: 27px;
    height: 25px;
    border: none;
    cursor: pointer;

    .navigationBtnIcon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .headerLogo {
    position: absolute;
    width: 190px;
    height: 130px;
    top: -25px;
    left: 85px;
  }

  .searchInput {
    width: 392px;
    height: 28px;
    font-size: $fontMedium;
    background-color: transparent;
    border: none;
    margin-right: 35px;
  }

  .searchAndIconWrap {
    display: flex;
  }

  .iconListWrap {
    display: flex;
    align-items: center;

    .iconWrap {
      margin-left: 32px;
      cursor: pointer;
      background: #fff;
      border: none;

      .headerIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .iconWrap:nth-child(1) {
      width: 32px;
      height: 32px;
    }

    .iconWrap:nth-child(2) {
      width: 33px;
      height: 33px;
    }

    .iconWrap:nth-child(3) {
      width: 28px;
      height: 33px;
    }

    .iconWrap:nth-child(4) {
      width: 39px;
      height: 28px;
    }

    .iconWrap:nth-child(5) {
      width: 33px;
      height: 35px;
    }
  }
}
