@import '/src/styles/variables.scss';

.Nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  background: #fff;
  top: 0;
  display: none;

  .cartAndCloseBtnPosition {
    @include elementPosition(flex, row, center);
    width: 100%;
    height: 100px;
    align-items: center;
    background: #fff;

    .cartAndCloseBtnWrap {
      @include elementPosition(flex, row, flex-end);
      width: 1140px;
      align-items: center;

      .cartAndCloseBtn {
        width: 35px;
        height: 35px;
        border: none;
        background: #fff;
        cursor: pointer;

        .buttonIcon {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .cartAndCloseBtn:last-child {
        margin-left: 30px;
      }
    }
  }

  .searchWrapPosition {
    @include elementPosition(flex, row, center);
    width: 100%;
    height: 115px;
    align-items: center;
    background: #111;

    .searchWrap {
      @include elementPosition(flex, row, space-between);
      width: 1140px;
      align-items: center;

      .searchInput {
        font-size: $fontLarge;
        border: none;
        background: transparent;
        font-weight: $fontBold;
        color: #fff;
      }

      .searchBtn {
        width: 46px;
        height: 46px;
        border: none;
        cursor: pointer;
        background: transparent;

        .searchBtnIcon {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .searchInput::placeholder {
        color: #fff;
        font-weight: $fontBold;
      }
    }
  }

  .contentWrap {
    @include elementPosition(flex, row, center);
    width: 100%;
    position: relative;
    padding-top: 60px;

    .contentPositionWrap {
      display: flex;
      width: 1140px;
    }

    .menuWrap {
      width: 280px;
      height: 540px;
      margin-right: 50px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      .menuMappingWrap:nth-child(12) {
        margin-top: 30px;
      }

      .menuTitleWrap {
        @include elementPosition(flex, row, space-between);
        align-items: center;
        margin-bottom: 30px;

        .menuName {
          font-size: $fontLarge;
          font-weight: 900;
          color: $fontBlack;
        }

        .downArrowBtn {
          border: none;
          background: transparent;
          cursor: pointer;
        }

        .downArrowIcon {
          width: 27px;
          height: 16px;
          object-fit: cover;
        }

        .rightArrowIcon {
          width: 16px;
          height: 27px;
          object-fit: cover;
          margin-right: 5px;
        }
      }

      // 이벤트 실행 : 토글 버튼 클릭 시 하위 메뉴 노출
      .menuListWrap {
        padding: 0 20px;
        height: auto; // before 0
        overflow: hidden;
        display: none; // before none
        margin-bottom: 30px;

        .menuList {
          font-size: $fontLarge;
          font-weight: $fontBold;
          color: $fontBlack;
          margin: 7px 0;
        }

        .menuList:first-child {
          margin-top: 30px;
        }
      }
    }

    .rightContentBoundary {
      width: calc(100% - 280px);
      overflow-x: scroll;

      .rightContentWrap {
        display: flex;
        min-width: 1140px;
        padding-bottom: 50px;

        .categoryWrap {
          @include elementPosition(flex, column, start);
          align-items: end;
          margin-left: 24px;

          .categoryTitle {
            font-size: $fontLarge;
            text-align: right;
            font-weight: $fontBold;
            margin-bottom: 12px;
            padding-right: 8px;
          }

          .categorySummaryImg {
            width: 300px;
            object-fit: cover;
          }

          .detailBtn {
            @include elementPosition(flex, row, center);
            border: 1px solid #111;
            align-items: center;
            background: transparent;
            padding: 12px 17px;
            margin-top: 20px;
            cursor: pointer;

            .detailBtnTxt {
              font-size: $fontSmall;
              margin-right: 7px;
            }

            .rightArrowIcon {
              width: 14px;
              height: 14px;
            }
          }
        }

        .navContent:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
