@import './../../styles/variables.scss';
.signUp {
  display: flex;
  justify-content: center;

  .baseWrapper {
    margin: 50px;
    width: 1140px;
    .goBackBtn {
      .leftArrowIcon {
        width: 42px;
        height: 24px;
        margin: 40px 0;
        object-fit: cover;
      }
    }
    .signUpWrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: $fontTitle;
        font-weight: $fontBold;
      }
      h4 {
        padding: 15px 0 25px;
        font-size: $fontSmall;
        font-weight: bold;
        color: gray;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        input {
          margin-bottom: 20px;
          padding: 10px;
        }
        .commonInput {
          width: 436px;
          height: 60px;
          border: 1px solid black;
        }

        .gender {
          width: 436px;
          height: 30px;
          display: flex;
          justify-content: start;
          label {
            margin-right: 10px;
          }
        }
        .email {
          width: 255px;
          height: 60px;
          margin-right: 10px;
          border: 1px solid black;
        }
        .emailSelect {
          width: 145px;
          height: 60px;
          margin-left: 10px;
        }
        .recommend {
          width: 285px;
          height: 60px;
          margin-right: 10px;
          border: 1px solid black;
        }
        .recommendBt {
          width: 140px;
          height: 60px;
          padding: 10px;
          background-color: white;
          border: 1px solid black;
          font-size: $fontMedium;
        }
        h5 {
          margin: 5px;
          padding-left: 10px;
          width: 436px;
          display: flex;
          justify-content: start;
        }
      }

      .signUpBt {
        width: 436px;
        height: 60px;
        background-color: black;
        color: white;
        font-size: $fontLarge;
        font-weight: 700;
      }
    }
  }
}
